.Menu{
    height: 20px;
    display: flex;
    flex-direction: row;
  }
  
.MenuItemContainer{
position: relative;
top: -2px;
box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.44);
width: fit-content;
}

.OptionsTabHead{
background-color: rgb(190, 190, 190);
}