.Menu{
    height: 20px;
    display: flex;
    flex-direction: row;
  }
  
.MenuItemLabel{
box-sizing: border-box;
user-select: none;
width: fit-content;
border: solid white 2px;
background-color: rgb(196, 196, 196);
margin-left: 1px;
margin-right: 1px;
}
  
.MenuItemContainer{
position: relative;
top: -2px;
box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.44);
width: fit-content;
}

.OptionsTab{
    background-color: rgb(230, 230, 230);
    border: black 2px solid;
}
  
.OptionsTabHead{
background-color: rgb(190, 190, 190);
}