.BorderedContainer {
  border-width: 3px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: rgb(110, 110, 110);
  border-right-color: rgb(110, 110, 110);
  background-color: rgb(196, 196, 196);
}

.ReversedBorderedContainer {
  border-width: 3px;
  border-style: solid;
  border-top-color: rgb(110, 110, 110);
  border-left-color: rgb(110, 110, 110);
  border-bottom-color: white;
  border-right-color: white;
  background-color: rgb(196, 196, 196);
}

.NonBorderedContainer {
  border: solid 1px rgb(85, 85, 85);
  background-color: rgb(184, 184, 184);;
}

.CellInterior{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.CellContainer{
  width: 24px;
  height: 24px;
}

.CellEnabled{
  background-color: rgb(196, 196, 196);
}

.CellEnabled:hover{
  background-color: rgb(180, 180, 180);
}

.BoardRow {
  display: flex;
  flex-direction: row;
}

.BoardContainer{
  width: fit-content;
  height: fit-content;
}

.GameContainer{
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.CounterContainer{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.HeadContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.NewGameBTN{
  width: 30px;
  height: 30px;
}

.ImgDIV{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  background-color: grey;
}
